<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flaredown.flaredownApp">

    <!-- Basic permissions should be obvious -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- For storing the locales localy -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Checking internet connectivity -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to start Alarm on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.flaredown.flaredownApp.Checkin.CheckinActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.flaredown.flaredownApp.LoginActivity"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.flaredown.flaredownApp.SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flaredown.flaredownApp.Checkin.CheckinActivity" />
        </activity>
        <activity
            android:name="com.flaredown.flaredownApp.Checkin.AddEditableActivity"
            android:label="@string/title_activity_add_adialog" />

        <receiver android:name="com.flaredown.flaredownApp.FlareDown.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.flaredown.flaredownApp.PolicyWebView"
            android:label="@string/title_activity_policy_web_view"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flaredown.flaredownApp.SettingsActivity" />
        </activity>
    </application>

</manifest>
