<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.flaredown.flaredownApp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Basic permissions should be obvious -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Checking internet connectivity -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Permission to start Alarm on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".FlaredownApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.WebView.WebViewFragment"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".Activities.Checkin.CheckinFragment"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.WebView.WebViewFragment"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.WebView.WebViewFragment"/>
            <!-- Note when removing the web view update the meta-data on all activities. -->
        </activity>
        <activity
            android:name=".Activities.Login.LoginActivity"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_login"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity
            android:name=".Activities.Settings.SettingsFragment"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Activities.WebView.WebViewFragment"
            android:screenOrientation="behind">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.WebView.WebViewFragment"/>
        </activity>
        <activity
            android:name=".Activities.Checkin.AddEditableActivity"
            android:label="@string/title_activity_add_adialog"/>

        <receiver android:name=".Receivers.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.Settings.PolicyWebView"
            android:label="@string/title_activity_policy_web_view"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Settings.SettingsFragment"/>
        </activity>
        <activity
            android:name=".Activities.Settings.EditAccount.FragmentEditAccount"
            android:label="@string/title_activity_edit_account"
            android:parentActivityName=".Activities.Settings.SettingsFragment"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Settings.SettingsFragment"/>
        </activity>

        <service
            android:name=".Receivers.AlarmIntentService"
            android:enabled="true"/>

        <activity android:name=".Activities.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Register.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".Activities.Login_old.LoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Login_old.LoginActivity"/>
        </activity>
        <meta-data android:name="io.fabric.ApiKey" android:value="${fabricApiKey}"/>
    </application>

</manifest>